*,
::before,
::after,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #6964e2;
    --dark-color: #102b3e;
    --white-color: #ced8e1;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background: var(--white-color);
}

.container {
    padding: 0 20px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Intro */

.intro {
    height: 100vh;
}

.header {
    height: 12vh;
}

.title {
    line-height: 12vh;
    text-align: center;
    color: var(--dark-color);
}

.intro__inner {
    display: flex;
    align-items: center;
    height: 76vh;
    background: var(--dark-color);
    background: no-repeat url("assets/images/Jeff-Bezos.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
}

.quote {
    font-size: 26px;
    color: var(--white-color);
    position: relative;
}

.portrait {
    height: 100%;
}

.intro__end {
    font-size: 3em;
    font-weight: 700;
    line-height: 12vh;
    text-align: center;
    color: var(--dark-color);
}

/* Section */

.section {
    padding: 20px 250px;
    color: var(--dark-color);
}

.section__header {
    font-size: 24px;
}

.section__text p {
    margin: 25px 0;
    font-size: 18px;
}

.section__image {
    width: 100%;
}

/* Amazon sales */

.amazon-sales {
    margin: 20px auto 40px;
    height: 130px;
    width: 100%;
    max-width: 520px;
    position: relative;
}

.amazon-sales::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 100px;
    height: 50px;
    border-top: 3px solid var(--light-color);
    border-left: 3px solid var(--light-color);
}

.amazon-sales::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    width: 100px;
    height: 50px;
    border-bottom: 3px solid var(--light-color);
    border-right: 3px solid var(--light-color);
}

.amount {
    padding-top: 19px;
    padding-left: 30px;
    font-size: 32px;
    color: var(--light-color);
}

.caption {
    position: absolute;
    bottom: 25px;
    right: 35px;
    font-size: 18px;
}

/* Footer */

.footer {
    position: relative;
    margin-top: 20px;
    height: 200px;
    color: var(--light-color);
    background: var(--dark-color);
}

.footer__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact {
    display: flex;
    justify-content: center;
}

.contact__item {
    margin: 10px;
    font-size: 4em;
}

.contact__item a {
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    color: var(--light-color);
    transition: transform 0.1s linear;
}

.contact__item a:hover {
    transform: translate(0, -10px);
}

.footer__inner span {
    text-align: center;
    font-size: 16px;
}

/*Extra large devices*/
@media (max-width: 1200px) {
    .section {
        padding: 20px 50px;
    }
}

@media (max-width: 992px) {
    .intro__inner {
        background-position: 50%;
    }
}

/*Small devices*/
@media (max-width: 576px) {
    .title {
        font-size: 24px;
        line-height: 6vh;
        text-align: center;
        color: var(--dark-color);
    }

    .quote {
        padding: 5px;
        background: rgba(0, 0, 0, 0.5);
    }

    .section {
        padding: 20px 5px;
    }

    .amazon-sales {
        height: 160px;
    }

    .amount {
        padding-top: 19px;
        padding-left: 30px;
        font-size: 32px;
        color: var(--light-color);
    }

    .caption {
        position: absolute;
        padding: 10px 30px;
        bottom: 15px;
        right: 15px;
        font-size: 18px;
    }

    .section__header {
        font-size: 20px;
    }
}
