*,
::before,
::after,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #6964e2;
    --dark-color: #102b3e;
    --white-color: #ced8e1;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background: var(--white-color);
}

.container {
    padding: 0 20px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Intro */

.intro {
    height: 100vh;
}

.header {
    height: 12vh;
}

.title {
    line-height: 12vh;
    text-align: center;
    color: var(--dark-color);
}

.intro__inner {
    display: flex;
    align-items: center;
    height: 76vh;
    background: var(--dark-color);
    background: no-repeat url("assets/images/Jeff-Bezos.jpg");
    background-size: cover;
}

.quote {
    font-size: 26px;
    color: var(--white-color);
    position: relative;
}

.portrait {
    height: 100%;
}

.intro__end {
    font-size: 3em;
    font-weight: 700;
    line-height: 12vh;
    text-align: center;
    color: var(--dark-color);
}

/* Section */

.section {
    padding: 20px 300px;
    color: var(--dark-color);
}

.section__text {
    font-size: 18px;
}

.section__text p {
    margin: 25px 0;
    font-size: 18px;
}

.section__image {
    width: 100%;
}

/* Amazon sales */

.amazon-sales {
    margin: 20px auto 40px;
    height: 110px;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.amazon-sales::before {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 50px;
    border-top: 3px solid var(--light-color);
    border-left: 3px solid var(--light-color);
}

.amazon-sales::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100px;
    height: 50px;
    border-bottom: 3px solid var(--light-color);
    border-right: 3px solid var(--light-color);
}

.amount {
    padding-top: 9px;
    padding-left: 20px;
    font-size: 32px;
    color: var(--light-color);
}

.caption {
    position: absolute;
    bottom: 15px;
    right: 25px;
    font-size: 18px;
}

/* Footer */

.footer {
    position: relative;
    margin-top: 20px;
    height: 200px;
    color: var(--light-color);
    background: var(--dark-color);
}

.footer__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact {
    display: flex;
    justify-content: center;
}

.contact__item {
    margin: 10px;
    font-size: 4em;
    transition: transform 0.1s linear;
}

.contact__item:hover {
    transform: translate(0, -10px);
}

.contact__item a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--light-color);
}

.footer__inner span {
    font-size: 16px;
}
